body {
  margin: 0;
  font-family: "Comic Neue", sans-serif;
  background: #f6f2f9;
}

/* HEADER-------------------------- */

/* Keep header on top when scrolling down */
header {
  position: sticky;
  top: 0;
  background: #2C3E50;
}

/* Navigation bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  height: 80px;
}

/* Logo */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

/* Logo text */
.nav-logo p {
  margin: 0;
  width: 130px;
  font-family: "Sofia", sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

/* Logo icon */
.logo-icon {
  width: 50px;
}

/* Hide the links in the navigation bar for mobile */
.nav-links {
  display: none;
}

/* Hamburger icon */
.hamburger-icon {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-right: 20px;
}

.hamburger-icon div {
  background: #FFFFFF;
  width: 40px;
  height: 4px;
  border-radius: 5px;
}

/* WELCOME SECTION-------------------------- */

.welcome-section {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 45px;
  text-align: justify;
  font-size: 15px;
}

/* Welcome heading */
.welcome-section h1 {
  font-family: "Galada", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
}

/* Main section----------------------------- */

/* CSS grid on main container */
.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  gap: 30px;
  justify-items: center;
  padding: 20px 40px 60px 40px;
  /* To align the content in the center of page */
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.monthly-unicorn-text {
  display: none;
}

/* Each card is a flexbox */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 5px 5px 5px #d8b3d6;
  padding: 30px 40px;
  border-radius: 15px;
}

/* Figure */
figure {
  margin: 0;
}

/* Size of image to fit the figure element*/
img {
  width: 100%;
}

/* Hide figcaption */
figcaption {
  display: none;
}

/* Container with info is a flexbox */
.info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

/* Card heading - unicorn name */
.card h2 {
  margin: 0;
  font-family: "Galada", sans-serif;
  color: #4e036e;
  font-size: 26px;
  font-weight: 500;
}

/* Hide the unicorn descriptions*/
.card .description {
  display: none;
}

/* Container with stats is a flexbox */
.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

/* Each stat is a flexbox */
.stat {
  display: flex;
  align-items: center;
  gap: 2px;
}

.stat p {
  margin: 0;
  font-size: 14px;
}

/* Hide the stat headings*/
.stat h3 {
  display: none;
}

/* Button styling*/
.card .button {
  background: #fce044;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 20px 40px 0 40px;
  padding: 10px;
  border-radius: 30px;
}

/* Change color of button on hover */
.card .button:hover {
  background: #c49dd3;
}

/* Button text styling */
.card .button p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

/* Only display the 'Learn more'-button (hide the 'Book now'-button */
.card .button-book {
  display: none;
}

/* UNICORN OF THE MONTH */

/* Place the monthly unicorn card first in the grid*/
.monthly-unicorn {
  grid-row: 1/2;
}

/* Show the description */
.monthly-unicorn .description {
  display: initial;
  margin: 0;
  text-align: justify;
  font-size: 14px;
}

/* adjusting gap size on information container */
.monthly-unicorn .info-container {
  gap: 10px;
}

/* Change flex direction for the stat container */
.monthly-unicorn .stats-container {
  flex-direction: column;
}

/* Show the stat headings */
.monthly-unicorn .stat h3 {
  display: initial;
  margin: 0;
  font-size: 14px;
}

/* Only display button text 'Book now' */
.monthly-unicorn .button-more-info {
  display: none;
}

.monthly-unicorn .button-book {
  display: initial;
}

/* FOOTER----------------------------------- */

footer {
  background: #2C3E50;
}

footer p {
  color: #f6f2f9;
  text-align: center;
  font-size: 12px;
  padding: 30px;
}

/* MEDIA QUERIES---------------------------- */

/* Small mobile devices */

@media (max-width: 374px) {

  /* Adjustments to keep the cards in the middle of the page */
  .main-container {
    padding-left: 0;
    padding-right: 0;
  }

  .card {
    max-width: 260px;
  }

  /* decrease font sizes of the cards */
  .card h2 {
    font-size: 22px;
  }

  .card .description {
    font-size: 12px;
  }

  .card .stat p {
    font-size: 12px;
  }

  .card .stat h3 {
    font-size: 12px;
  }

  .card .button p {
    font-size: 12px;
  }

}

/* Tablets */

@media (min-width: 660px) {

  /* For the monthly unicorn, span card overall columns and change flex direction*/
  .monthly-unicorn {
    flex-direction: row;
    grid-column: 1/-1;
    max-width: fit-content;
  }

  /* Increase button font size */
  .monthly-unicorn .button-book {
    font-size: 16px;
  }

}

/* Larger tablets */

@media (min-width: 900px) {

  /* Adjust logo text*/
  .nav-logo p {
    width: 140px;
    font-size: 20px;
  }

  /* Adjust welcome text */
  .welcome-section p {
    font-size: 18px;
  }

  /* Adjust monthly unicorn card*/
  .monthly-unicorn {
    padding: 40px;
    gap: 40px;
  }

  .monthly-unicorn .info-container {
    gap: 20px;
  }

  .monthly-unicorn .stat h3 {
    font-size: 16px;
  }

  .monthly-unicorn .stat p {
    font-size: 16px;
  }

  .monthly-unicorn .description {
    font-size: 18px;
  }

}

/* Desktop */

@media (min-width: 1024px) {

  /* Make the logo text bigger and in one line */
  .nav-logo p {
    width: auto;
    font-size: 26px;
  }

  /* Hide the hamburge icon */
  .hamburger-icon {
    display: none;
  }

  /*Show and style the links of the navigation bar*/
  .nav-links {
    display: flex;
  }

  .nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 30px 16px;
    font-size: 18px;
  }

  .nav-links a:hover {
    background: #8AB6D6;
  }

}