body {
  margin: 0;
  font-family: "Comic Neue", sans-serif;
  background: #f6f2f9;
}

/* HEADER-------------------------- */

/* Navigation bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Keep navbar on top when scrolling down */
  position: sticky;
  top: 0;
  /* background: #2C3E50; */
  background: #130d3b;
  color: #FFFFFF;
  height: 10vh;
}

/* Logo */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

/* Logo icon */
.logo-icon {
  height: 7vh;
}

/* Logo text */
.nav-logo p {
  margin: 0;
  width: 35vw;
  font-family: "Sofia", sans-serif;
  font-size: 2.5vh;
  line-height: 1.2;
}

/* Hide the links in the navigation bar for mobile */
.nav-links {
  display: none;
}

/* Hamburger icon */
.hamburger-icon {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-right: 20px;
}

.hamburger-icon div {
  background: #FFFFFF;
  width: 40px;
  height: 4px;
  border-radius: 5px;
}

/* Hero image */
header {
  /* Hero image with a linear gradient to make it a little darker */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/hero-image.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  /* flexbox to center the headings on the image */
  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  width: 80%;
  max-width: 1000px;
  text-align: center;
}

header h1 {
  font-family: "Galada", sans-serif;
  font-size: 5vh;
  font-weight: 400;
  line-height: 1.2;
}

header h2 {
  font-size: 2.5vh;
  font-weight: 200;
}

/* Main section----------------------------- */

/* flexbox on the main section */
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 1200px;
  margin: 5vh auto 8vh auto;
}

.monthly-unicorn-text {
  align-self: flex-start;
  padding: 0 50px;
  margin: 0;
  color: #F53B98;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 800;
}

/* CSS grid on cards container */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  gap: 30px;
  justify-items: center;
  padding: 0 40px;
}

/* Each card is a flexbox */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 5px 5px 5px #d8b3d6;
  padding: 30px 40px;
  border-radius: 15px;
}

/* Figure */
figure {
  margin: 0;
}

/* Size of image to fit the figure element*/
img {
  width: 100%;
}

/* Hide figcaption */
figcaption {
  display: none;
}

/* Container with info is a flexbox */
.info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

/* Card heading - unicorn name */
.card h2 {
  margin: 0;
  font-family: "Galada", sans-serif;
  color: #4e036e;
  font-size: 24px;
  font-weight: 500;
}

/* Hide the unicorn descriptions*/
.card .description {
  display: none;
}

/* Container with stats is a flexbox */
.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

/* Each stat is a flexbox */
.stat {
  display: flex;
  align-items: center;
  gap: 2px;
}

.stat p {
  margin: 0;
  font-size: 14px;
}

/* Hide the stat headings*/
.stat h3 {
  display: none;
}

/* Button styling*/
.card .button {
  background: #fce044;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 20px 40px 0 40px;
  padding: 10px;
  border-radius: 30px;
}

/* Change color of button on hover */
.card .button:hover {
  background: #c49dd3;
}

/* Button text styling */
.card .button p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

/* Only display the 'Learn more'-button (hide the 'Book now'-button */
.card .button-book {
  display: none;
}

/* UNICORN OF THE MONTH */

/* Place the monthly unicorn card first in the grid*/
.monthly-unicorn {
  grid-row: 1/2;
}

/* Show the description */
.monthly-unicorn .description {
  display: initial;
  margin: 0;
  text-align: justify;
  font-size: 14px;
}

/* adjusting gap size on information container */
.monthly-unicorn .info-container {
  gap: 10px;
}

/* Change flex direction for the stat container */
.monthly-unicorn .stats-container {
  flex-direction: column;
}

/* Show the stat headings */
.monthly-unicorn .stat h3 {
  display: initial;
  margin: 0;
  font-size: 14px;
}

/* Only display button text 'Book now' */
.monthly-unicorn .button-more-info {
  display: none;
}

.monthly-unicorn .button-book {
  display: initial;
}

/* FOOTER----------------------------------- */

footer {
  background: #130d3b;
  bottom: 0;
}

footer p {
  color: #f6f2f9;
  text-align: center;
  font-size: 1.5vh;
  padding: 30px;
  margin: 0;
}

/* MEDIA QUERIES---------------------------- */

/* Small mobile devices */

@media (max-width: 374px) {

  /* Adjustments to keep the cards in the middle of the page */
  .main-container {
    padding-left: 0;
    padding-right: 0;
  }

  .card {
    max-width: 260px;
  }

  /* decrease font sizes of the cards */

  .monthly-unicorn-text {
    font-size: 16px;
    padding: 0 40px;
  }

  .card .description {
    font-size: 12px;
  }

  .card .stat p {
    font-size: 12px;
  }

  .card .stat h3 {
    font-size: 12px;
  }

  .card .button p {
    font-size: 12px;
  }

}

/* Tablets */

@media (min-width: 660px) {

  /* For the monthly unicorn, span card overall columns and change flex direction*/
  .monthly-unicorn {
    flex-direction: row;
    grid-column: 1/-1;
    max-width: fit-content;
  }

  /* Increase button font size */
  .monthly-unicorn .button-book {
    font-size: 16px;
  }

}

/* Larger tablets */

@media (min-width: 900px) {

  /* Adjust monthly unicorn card*/
  .monthly-unicorn {
    padding: 40px;
    gap: 40px;
  }

  .monthly-unicorn h2 {
    font-size: 28px;
  }

  .monthly-unicorn .info-container {
    gap: 20px;
  }

  .monthly-unicorn .stat h3 {
    font-size: 16px;
  }

  .monthly-unicorn .stat p {
    font-size: 16px;
  }

  .monthly-unicorn .description {
    font-size: 18px;
  }

}

/* Desktop */

@media (min-width: 1024px) {

  /* Hide the hamburge icon */
  .hamburger-icon {
    display: none;
  }

  /*Show and style the links of the navigation bar*/
  .nav-links {
    display: flex;
  }

  .nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 3.8vh 1.2vw;
    font-size: 2vh;
  }

  .nav-links a:hover {
    background: #8AB6D6;
  }

}